<%= render "shared/header" %>

<%# 投稿概要 %>
<div class="toilet-show">
  <div class="toilet-box">
    <h2 class="name">
      <%= @toilet.name %>
    </h2>
    <div class='toilet-img-content'>
      <% @toilet.images.each do |image|%>
        <%= image_tag image ,class:"toilet-box-img"%>
      <% end %>
    </div>

    <div class="toilet-prefecture-box">
      <span class="toilet-prefecture">
        <%= @toilet.prefecture.name%>
      </span>
    </div>

    <% if current_user.id == @toilet.user_id %>
      <%= link_to '編集', edit_toilet_path(@toilet.id), method: :get, class: "toilet-edit-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除',  toilet_path(@toilet.id), method: :delete, class:'toilet-destroy' %>
    <% end %>

    <div class="toilet-explain-box">
      <span><%= @toilet.text %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-toilet">出品者</th>
          <td class="detail-value"><%= @toilet.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-toilet">カテゴリー</th>
          <td class="detail-value"><%= @toilet.category.name %></td>
        </tr>
        <tr>
          <th class="detail-toilet">トイレの状態</th>
          <td class="detail-value"><%= @toilet.condition.name %></td>
        </tr>
        <tr>
          <th class="detail-toilet">個室の数</th>
          <td class="detail-value"><%= @toilet.number.name %></td>
        </tr>
        <tr>
          <th class="detail-toilet">設備内容</th>
          <td class="detail-value"><%= @toilet.multi.name %></td>
        </tr>
        <tr>
          <th class="detail-toilet">詳細場所</th>
          <td class="detail-value"><%= @toilet.address %></td>
        </tr>
      </tbody>
    </table>
    <div id='map'></div>
      <style>
        #map {
          height: 600px;
          width: 600px;
        }
      </style>
      <script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @toilet.latitude %>, lng: <%= @toilet.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @toilet.address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>

      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer>
      </script>
      <%# /GoogleMapの表示%>

  </div>
  <%# /投稿概要 %>
  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%#= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
</div>

<%= render "shared/footer" %>
